{{#paper-card as |card|}}
  {{card.image  src="https://yonoapartments.com/wp-content/uploads/2016/07/restaurants-thumbnail.jpg"}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{establishment.establishmentName}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <div class="layout-row  layout-align-space-between-end">
      {{rating-box rating=establishment.aggregateRating.ratingValue}}
      {{rating-box rating=establishment.aggregateRating.avgVeggieScore isVeggie=true}}
    </div>
    <div class="layout-column quote-review-card">
      <div class="flex">Latest review</div>
      <div class="flex"> <blockquote class="ludwig">{{sortedRatings.0.review.headline}} </blockquote> </div>
    </div>
    <div class="layout-column">
      <div class="flex">Location: {{establishment.address.region}}, {{establishment.address.country}}</div>
    </div>
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(action "details")}} view all reviews {{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
